
/* 页脚部分 */
/* 底部文本大体样式 */
#text_top {
    height: 80px;
    border-bottom: 1px solid gray;
}

#text_top ul {
    height: 80px;
}

#text_top li {
    width: 244px;
    text-align: center;
    margin-top: 28px;
    line-height: 25px;
    height: 25px;
    float: left;
    border-right: 1px solid gray;
}

#text_top li a {
    color: #616161;
    font-size: 16px;
}

#text_top li a:hover {
    color: #ff6700;
}

#text_top li:last-child {
    border-right: 0;
}

#text_top li span {
    margin-right: 5px;
}

.text_bottom {
    height: 250px;
    margin: auto;
    display: flex;
    justify-content: center;
    /* align-content: center; */
}

/* 左侧文本样式 */
.bottom_left {
    width: 970px;
    height: 250px;
    display: flex;
}

.bottom_left ul {
    width: 160px;
    height: 200px;
    margin-top: 30px;
}

.bottom_left ul li span {
    font-size: 16px;
    color: rgb(66, 66, 66);
}

.bottom_left ul li {
    font-size: 12px;
    color: rgb(117, 117, 117);
    margin-top: 10px;
}

.bottom_left ul li:first-child {
    margin-bottom: 26px;
}

.bottom_left ul li a:hover {
    color: coral;
}

.bottom_left ul li a span:hover {
    color: coral;
}

/* 右侧客服样式 */
.bottom_right {
    width: 255px;
    height: 250px;
    background-color: white;
}

.bottom_right div {
    width: 200px;
    height: 170px;
    margin: auto;
    margin-top: 40px;
    position: relative;
}

.bottom_right div p {
    text-align: center;
}

.bottom_right div p:nth-child(1) {
    color: coral;
    margin-bottom: 5px;
    font-size: 18px;
}

.bottom_right div p:nth-child(2) {
    color: rgb(66, 66, 66);
    margin-bottom: 10px;
}

.bottom_right div p:nth-child(4) {
    margin-left: 10px;
    display: inline-block;
    color: rgb(66, 66, 66);
    margin-top: 10px;
}

.bottom_right div img {
    width: 126px;
    height: 126px;
    position: absolute;
    top: 110px;
    left: 40px;
    display: none;
}

.bottom_right div>span:hover+.bottom_right_img {
    display: block;
}

button {
    margin-top: 5px;
    color: coral;
    border: 1px solid coral;
    width: 120px;
    height: 30px;
    font-size: 13px;
}

button:hover {
    background-color: coral;
    color: white;
}

/* 底部 */
#footer {
    width: 100%;
    height: 200px;
    padding: 30px 0;
    background-color: rgb(245, 245, 245);
    line-height: 30px;
    font-size: 20px;
    font-size: 12px;
}

#footer-img img {
    display: block;
    width: 56px;
    height: 56px;
    float: left;
    margin-right: 10px;
}

#footer-img ul {
    float: left;
}

#footer-img ul li {
    height: 18px;
    line-height: 18px;
}

#footer-img ul li:nth-child(6) a {
    color: #b0b0b0;
}

#footer-img ul li:nth-child(3) a {
    color: #b0b0b0;
}

#footer-img ul li:nth-child(4) a {
    color: #b0b0b0;
}

#footer-img ul li:nth-child(5) a {
    color: #b0b0b0;
}

#footer-img .footer-color {
    color: #b0b0b0;
}

#footer-img ul li:not(:last-child) a:hover {
    color: coral;
}

#footer-img ul li:last-child img {
    width: 83px;
    height: 28px;
}

#footer p {
    margin-top: 50px;
    text-align: center;
    color: #b0b0b0;
    font-size: 18px;
}